* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

:root {
  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorRed: #EB002A;
  --fontHeading: 'badaboom', sans-serif;
  --fontBody: 'open-sans'
}

