* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: 'badaboom';
  src: url('../fonts/BADABB__.ttf') format('truetype');
}

:root {
  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorRed: #EB002A;
  --fontHeading: 'badaboom', sans-serif;
  --fontBody: 'open-sans'
}

img {
  width: 100%;
}

#grid-container {
  display: grid;
  grid-template-coloum: repeat(12, 1fr);
  grid-template-row: auto;
}

nav figure {
   width: 50px;
   margin-left: 25px;
}
